<div class="main">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Courses</h4></li>
    <li class="collection-item" *ngFor="let course of courses">
      <div>
          {{course.attributes.name}}
          <a class="secondary-content" routerLink="/courses/{{course.id}}">
              <i class="material-icons red-text">send</i>
          </a>
      </div>
    </li>
  </ul>
  <a class="createCourse btn red lighten-2 waves-effect waves-light" routerLink="/courses/create">
    Create new course
  </a>
</div>
