<div class="row" *ngIf="student">
  <div class="col s12 m6 offset-m3">
    <div class="card red lighten-3">
      <div class="card-content white-text">
        <span class="card-title">{{student.attributes.name}}</span>
        <ul class="courses" *ngIf="courses">
          <div class="bold">Courses:</div>
          <li *ngFor="let course of courses">
              {{course.attributes.name}}
          </li>
        </ul>
      </div>
      <div class="card-action">
        <button class="btn red lighten-2 white-text" (click)="goEdit()">Edit</button>
        <button class="btn red lighten-1 white-text" (click)="goEdit()">Delete</button>
      </div>
    </div>
  </div>
</div>

