<div class="row">
  <div class="col s12 m6 offset-m3">
    <div class="card red lighten-3">
      <div class="card-content white-text">
        Are you sure you want to delete instructor with id: <br> {{id}}
      <div class="card-action">
        <button class="btn red lighten-2 white-text waves-effect waves-light" (click)="deleteInstructor()">Delete</button>
        <button class="btn red lighten-1 white-text waves-effect waves-light" (click)="goBack()">Go back</button>
      </div>
    </div>
  </div>
</div>
